{% extends 'base.html' %}

{% import 'bootstrap/form.html' as form %}

{% block styles %}
{{ super() }}

<style>
.container {
  max-width: 600px;
}
</style>

{% endblock styles %}

{% block content %}

<div class="container">
  <h2 class="text-center mt-5 mb-3">Enter your details.</h2>

    <!--Flash message -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
    </div>
    {% endfor %}
  <!-- Login form -->
  <div class="pt-4">
   
    {{form.render_form(login_form)}}
  </div>
</div>

{% endblock content %}

{% block scripts %}
{{super()}}
<script>
$(".form-control").attr("autocomplete", "disabled");
$("#submit").attr("class", "mt-4 btn-blue")
</script>
{% endblock scripts %}