@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Montserrat:wght@400;500;800&display=swap');
body, html {
    font-family: Montserrat;
    font-weight: 500;
}

button.button, #submit {
    width: 100%;
    padding: 15px 30px;
    border: none;
    font-weight: 800;
    font-size: 0.9rem;
    text-transform: uppercase;
}
.btn-blue {
    color: white;
    background-color: #571CFF;
}
h1 {
    font-weight: 800;
    font-size: 2.3rem;
}
h2 {
    font-weight: 800;
    font-size: 2rem;
}
.form-control {
    border-radius: 0;
    border: 1px solid #7C7C7C;
    margin-bottom: 2rem;
}
.subheading {
    font-size: 1.3rem;
    width: 70%;
    margin: auto;
}