{% macro presidential(president, deputy, party) %}
<div class="candidate container">
    <div class="candidate-header row">
        <div class="col-2 pl-4 d-flex align-items-center">
            <img src="../../static/images/favicon.png" alt="" class="party-logo">
        </div>
        <div class="col-10 d-flex align-items-center justify-content-center">
            <span class="party-name">Jubilee Party</span>
        </div>
    </div>
    <div class="candidate-body row">
        <div class="col-9">
            <div class="row">
                <div class="col-3 p-0">
                    <div class="candidate-image"
                        style="background-image: url('../../static/images/1200px-Donald_Trump_official_portrait.jpg');">
                    </div>
                </div>
                <div class="col-9 pl-4 d-flex align-items-center">
                    <div>
                        <div class="candidate-name">Donald Trump</div>
                        <div class="candidate-title">Presidential Candidate</div>
                    </div>
                </div>
            </div>
            <!-- Running Mate -->
            <div class="row">
                <div class="col-3 p-0">
                    <div class="candidate-image"
                        style="background-image: url(../../static/images/Mike_Pence_official_Vice_Presidential_portrait.jpg);">
                    </div>
                </div>
                <div class="col-9 pl-4 d-flex align-items-center">
                    <div>
                        <div class="candidate-name">Mike Pence</div>
                        <div class="candidate-title">Deputy Presidential</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 current-results d-flex align-items-center justify-content-center">
            <h1>46%</h1>
        </div>
    </div>
</div>
{% endmacro %}