{% macro governor(governor) %}
<div class="d-flex align-items-center mb-5">
    <input type="radio" id="{{  governor.id }}" name="governor" value="{{ governor.id }}" class="mr-5">
    <label for="{{ governor.id }}" class="flex-fill">
        <div class="candidate container">
            <div class="candidate-header row">
                <div class="col-2 pl-4 d-flex align-items-center">
                    <img src="{{ governor.party.party_logo_path }}" alt="" class="party-logo">
                </div>
                <div class="col-10 d-flex align-items-center justify-content-center">
                    <span class="party-name">{{governor.party_name}}</span>
                </div>
            </div>
            <div class="candidate-body row">
                <div class="col-9">
                    <div class="row">
                        <div class="col-3 p-0">
                            <div class="candidate-image"
                                style="background-image: url('{{governor.profile_pic_path}}');">
                            </div>
                        </div>
                        <div class="col-9 pl-4 d-flex align-items-center">
                            <div>
                                <div class="candidate-name">{{governor.first_name}} {{governor.last_name}}</div>
                                <div class="candidate-title">Gubernatorial Candidate</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 current-results d-flex align-items-center justify-content-center">
                    <h1>{{governor.votes}}</h1>
                </div>
            </div>
        </div>
    </label>
</div>
{% endmacro %}