{% macro presidential(president) %}
<div class="d-flex align-items-center mb-5">
    <input type="radio" id="{{ president.id }}" name="president" class="mr-5" value="{{ president.id }}">
    <label for="{{ president.id }}" class="flex-fill">
        <div class="candidate container">
            <div class="candidate-header row">
                <div class="col-2 pl-4 d-flex align-items-center">
                    <img src="../../static/images/favicon.png" alt="" class="party-logo">
                </div>
                <div class="col-10 d-flex align-items-center justify-content-center">
                    <span class="party-name">{{ president.party_name }}</span>
                </div>
            </div>
            <div class="candidate-body row">
                <div class="col-9">
                    <div class="row">
                        <div class="col-3 p-0">
                            <div class="candidate-image"
                                style="background-image: url('../../static/images/1200px-Donald_Trump_official_portrait.jpg');">
                            </div>
                        </div>
                        <div class="col-9 pl-4 d-flex align-items-center">
                            <div>
                                <div class="candidate-name">{{ president.first_name }} {{ president.last_name }}</div>
                                <div class="candidate-title">Presidential Candidate</div>
                            </div>
                        </div>
                    </div>
                    <!-- Running Mate -->
                    <div class="row">
                        <div class="col-3 p-0">
                            <div class="candidate-image"
                                style="background-image: url('{{ president.deputy.profile_pic_path }}');">
                            </div>
                        </div>
                        <div class="col-9 pl-4 d-flex align-items-center">
                            <div>
                                <div class="candidate-name">{{ president.deputy.first_name }}  {{ president.deputy.last_name }}</div>
                                <div class="candidate-title">Deputy Presidential</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 current-results d-flex align-items-center justify-content-center">
                    <h1> {{ president.votes }} </h1>
                </div>
            </div>
        </div>
    </label>
</div>
{% endmacro %}