{% macro senatorial(senator) %}
<div class="d-flex align-items-center mb-5">
    <input type="radio" id="{{senator.id}}" name="senator" class="mr-5" value="{{ senator.id }}" >
    <label for="{{senator.id}}" class="flex-fill">
        <div class="candidate container">
            <div class="candidate-header row">
                <div class="col-2 pl-4 d-flex align-items-center">
                    <img src="background-image: url('{{ senator.profile_pic_path}}')">
                </div>
                <div class="col-10 d-flex align-items-center justify-content-center">
                    <span class="party-name">{{senator.party_name}}</span>
                </div>
            </div>
            <div class="candidate-body row">
                <div class="col-9">
                    <div class="row">
                        <div class="col-3 p-0">
                            <div class="candidate-image"
                                style="background-image: url('../../static/images/1200px-Donald_Trump_official_portrait.jpg');">
                            </div>
                        </div>
                        <div class="col-9 pl-4 d-flex align-items-center">
                            <div>
                                <div class="candidate-name">{{senator.first_name}} {{senator.last_name}}</div>
                                <div class="candidate-title">Senatorial Candidate</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 current-results d-flex align-items-center justify-content-center">
                    <h1>{{senator.votes}}</h1>
                </div>
            </div>
        </div>
    </label>
</div>
{% endmacro %}