{% extends 'base.html' %}
{% import "macros/governor_macro.html" as macro %}

{% block content %}

<h1 class="text-center mt-5 mb-3">Governor</h1>
<div class="text-center subheading mb-5">Please select your preferred gubernatorial candidate.</div>

<form class="w-100 px-5 mb-5" method="POST" action="{{ url_for('vote.vote_governor') }}">
    {% for governor in governors %}
    {{ macro.governor(governor) }}
    {% endfor %}

    <div class="pl-5" style="margin-left: 13px;">
        <button type="submit" class="button btn-blue" style="min-width: 600px;">Submit</button>
    </div>
</form> 


{% endblock content %}