{% extends 'base.html' %}
{% import "macros/senatorial_macro.html" as macro %}

{% block content %}

<h1 class="text-center mt-5 mb-3">Senator</h1>
<div class="text-center subheading mb-5">Please select your preferred senatorial candidate.</div>

<form class="w-100 px-5 mb-5" method="POST" action="{{ url_for('main.governor') }}">
    {{ macro.senatorial() }}

    <div class="pl-5" style="margin-left: 13px;">
        <button type="submit" class="button btn-blue" style="min-width: 600px;">Submit</button>
    </div>
</form> 


{% endblock content %}