<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="../static/css/styles.css">
    {% endblock %}

    <title>{{ title }}</title>
    {% endblock %}
</head>

<body>
    <!-- Your page content -->


    {% block navbar %}
    {% include "navbar.html" %}
    {% endblock navbar %}

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock scripts %}
</body>

</html>