<style>
    #logo {
        font-family: EB Garamond;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 52px;
        text-transform: uppercase;
        color: #000000;
    }

    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
</style>

<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a href="{{url_for('main.index')}}">
            <span class="navbar-brand mb-0 h1" id="logo">Mkondoni</span>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="{{ url_for('main.results') }}" class="nav-link">Results</a></li>
        </ul>
    </div>

</nav>